body{
    padding: 0px;
    margin: 0px;
}
/*  
#264653 (Dark Blue-Green)

#2a9d8f (Teal)

#e9c46a (Light Yellow)

#f4a261 (Light Orange)

#e76f51 (Coral Red)

*/

.red{
    color:rgb(245,30,0,1);
    color:#264653;

}
.green{
        color:rgb(70,180,70,1);
}
.blue{
    color:rgba(21, 75, 240, 0.938);
}
.white{
    color: #fff;
}
.bggreen{

    background-color:rgb(70,180,70,1);
}
.bgred{
    background-color:rgb(245,30,0,1);
}
.bgblue{
    background-color:rgba(21, 75, 240, 0.938);
}

.btn{
    padding: 15px;
    font-size: large;
    font-weight: 600;
    font-style: normal;
    font-family: 'Courier New', Courier, monospace;
    border-style: none;

}
.btn:hover{
    background-color: #fff;
}
.btn:hover .hover-green{
  color:rgb(70,180,70,1);
}

.admin-panel{
    width: 20%;
    background: #0004;
    height:100vh;
    float: left;
    margin:0px;
    padding: 0px;

    
    
}